/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.form input {
    width: 272px;
    border-radius: 4px;
    border: 1px solid #808080;

    padding: 8px 16px;
    font-weight: 400;
    color: #808080;

}

.form button {
    border-radius: 8px;
    padding: 8px 16px;
    border-color: transparent;
    background: #4e75ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 8px 16px;
    font-weight: 500;
    color: #fff;
}

.form button:hover {
    background: #6c8cff;
}

.is-hidden {
    display: none;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
